@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/inter.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lineseed';
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Rg.eot');
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Rg.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/lineseed/WOFF2/LINESeedSans_W_Rg.woff2') format('woff2'),
       url('../public/fonts/lineseed/WOFF/LINESeedSans_W_Rg.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lineseed';
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Th.eot');
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Th.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/lineseed/WOFF2/LINESeedSans_W_Th.woff2') format('woff2'),
       url('../public/fonts/lineseed/WOFF/LINESeedSans_W_Th.woff') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lineseed';
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Bd.eot');
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_Bd.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/lineseed/WOFF2/LINESeedSans_W_Bd.woff2') format('woff2'),
       url('../public/fonts/lineseed/WOFF/LINESeedSans_W_Bd.woff') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lineseed';
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_XBd.eot');
  src: url('../public/fonts/lineseed/EOT/LINESeedSans_W_XBd.eot?#iefix') format('embedded-opentype'),
       url('../public/fonts/lineseed/WOFF2/LINESeedSans_W_XBd.woff2') format('woff2'),
       url('../public/fonts/lineseed/WOFF/LINESeedSans_W_XBd.woff') format('woff2');
  font-weight: 800;
  font-style: normal;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px; /* Smooth, rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}

/* For Internet Explorer, Edge */
body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h1 {
  font-family: 'Lineseed', sans-serif;
}
.menu-list{
  font-family: 'Lineseed', sans-serif;
}