@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h4, h5, h6 {
    letter-spacing: -1px;
  }
  
  h3 {
    letter-spacing: 0px;
  }
}


/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #F3F4F6;
}

::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 8px; /* Smooth, rounded scrollbar */
}

::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}

/* For Firefox */
html {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #9CA3AF #F3F4F6; /* Thumb color and track color */
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}


body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  background: #F3F4F6;
}

body::-webkit-scrollbar-thumb {
  background: #9CA3AF;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6B7280;
}
